@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
	margin: 0 auto;
	max-width: 1200px;
}

.titleContainer {
	display: flex;
	flex-wrap: wrap;
}

.titleCard {
	border: 1px solid #ccc;
	padding: 15px;
	margin: 15px;
	width: 26%;
	background: #fff;
	box-shadow: 1px 1px 5px #888888;
	font-family: 'Roboto', sans-serif;
}

.titleCard:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.titles {
	font-size: 16px;
}

.published {
	padding: 10px 0;
	font-size: 12px;
	opacity: 0;
}

.titleCard:hover .published {
	opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.titles:nth-child(even){
	background: #eee;
}
